version: "3.9"

services:

  frontend:
    image: yourdockerhubusername/mern-frontend:latest
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  backend:
    image: yourdockerhubusername/mern-backend:latest
    build: ./backend
    container_name: mern-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydb
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
